@import 'src/scss/variables';
.header {
  position: static;
  z-index: 1;
  height: $header-height;
  width: 100%;
  background: $dark-grey-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
